<template name="footer">
  <!-- Start of Footer -->
	<footer>
		<div class="row">
			<div class="col-sm-5">
        		&copy; {{copyrightYear}} NVQhq.
        		<a href="http://do-web-design.com">Web Development</a> by Do Web Design
			</div><!--/.col-->
			<div class="col-sm-7 text-right">
				<a href="{{pathFor 'contact'}}">Contact Us</a> |
				<a href="{{pathFor 'about'}}">About Us</a> |
				<a href="{{pathFor 'termsOfService'}}">Terms of Service</a> |
				<a href="{{pathFor 'privacyPolicy'}}">Privacy Policy</a> |
				<a href="{{pathFor 'sitemap'}}">SiteMap</a>
			</div><!--/.col-->
		</div><!--/.row-->
	</footer>
</template>
