<template name="pageLayout">
    <div id="pageTheme">
        <div id="wrap">
            <!-- Start of Main Template -->
            {{> yield 'header'}}
            <div class="container">
                <div class="row">
                    {{> yield 'sidebarLeft'}}
                    <div id="content" class="full">
                        {{> bootstrapErrors}}
                        {{> yield}}
                    </div>
                </div>
            </div>
            <div id="push"></div>
        </div>
        {{> footer}}
    </div>
</template>
