<template name="admOrganisationSetup">
    <!-- Start of Admin Organisation Setup -->
    <div class="row">

        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-edit"></i>Setup your organisation</h2>
                    <div class="box-icon">
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    {{> admOrganisationSetupWizard}}
                </div>
            </div>

        </div><!--/col-->
    </div><!--/row-->
</template>

<template name="admOrganisationSetupWizard">
    {{> wizard id="admOrganisationSetupWizard" steps=steps}}
</template>

<template name="admOrganisationSetupStepOne">
    {{#autoForm
        schema=schema
        id="adm-organisation-setup-step-one-form"
        class="form-horizontal"
    }}
        {{> afQuickField name="profile.fullname"}}
        {{> afQuickField name="profile.nickname"}}
        <button type="submit" class="btn btn-success pull-right">Save and continue</button>
    {{/autoForm}}
</template>

<template name="admOrganisationSetupStepTwo">
    {{#autoForm
        schema=schema
        id="adm-organisation-setup-step-two-form"
        class="form-horizontal"
    }}
        {{> afQuickField name="contactDetails.phone"}}
        {{> afQuickField name="contactDetails.address"}}
        <button type="submit" class="btn btn-success pull-right">Save and continue</button>
    {{/autoForm}}
</template>

<template name="admOrganisationSetupStepThree">
    {{#autoForm
        schema=schema
        id="adm-organisation-setup-step-three-form"
        class="form-horizontal"
    }}
        {{> afQuickField name="courses"}}
        <button type="submit" class="btn btn-success pull-right">Save and continue</button>
    {{/autoForm}}
</template>

<template name="admOrganisationSetupStepFour">
    {{#autoForm
        schema=schema
        id="adm-organisation-setup-step-four-form"
        class="form-horizontal"
    }}
        {{> afQuickField name="paymentDetails.account_number"}}
        {{> afQuickField name="paymentDetails.sort_code"}}
        <button type="submit" class="btn btn-success pull-right">Save and continue</button>
    {{/autoForm}}
</template>

<template name="admOrganisationSetupStepFive">
    {{#autoForm
        schema=schema
        id="adm-organisation-setup-step-five-form"
        class="form-horizontal"
    }}
        {{> afQuickField name="terms_accepted"}}
        <button type="submit" class="btn btn-success pull-right">Save and continue</button>
    {{/autoForm}}
</template>