<template name="lnrCoursesList">
    <!-- Start of Admin Course List -->
<div class="row">
  <div class="col-lg-12">
    <div class="box">
      <div class="box-header">
        <h2><i class="fa fa-align-justify"></i><span class="break"></span>My Courses</h2>
        <div class="box-icon">
          <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
          <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="box-content">
        {{#if userCourses.count}}
        <table class="table">
          <thead>
            <tr>
              <th>Course Name</th>
              <th>Course Type</th>
              <th>Course Level</th>
            </tr>
          </thead>   
          <tbody>
            {{#each userCourses}}
              {{#with courseData}}
                {{> lnrListCoursesItem}}
              {{/with}}
            {{/each}} 
          </tbody>
        </table>
        {{else}}
          <p>You have not yet been enrolled onto any courses. Contact an administrator to get enrolled.</p>
        {{/if}}
      </div>
    </div>
  </div><!--/col-->
  </div><!--/row-->
</template>

<template name="lnrListCoursesItem">
  <tr>
    <td>{{type}} {{level}} in {{title}}</td>
    <td>{{type}}</td>
    <td>{{level}}</td>                                     
  </tr>
</template>
